.card {
  background-color: white;
  cursor: pointer;
  width: 7rem;
  height: 9rem;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(220, 229, 231);
}

.card > *:first-child {
  margin-top: 1.5rem;
}

.card > span {
  text-align: center;
  max-width: 5rem;
  overflow-wrap: anywhere;
}
