.messages_message_container {
  width: 100%;
}

.messages_message_control {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: #eee;
  font-weight: bold;
  border-radius: 5px;
}

.messages_message > *:last-child,
.messages_message_control > *:last-child {
  margin-left: auto;
}

.messages_message > *:first-child,
.messages_message_control > *:first-child {
  margin-right: 1rem;
}

.messages_message {
  display: flex;
  align-items: center;
  min-height: 3rem;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}

.messages_message:hover {
  background-color: #eee;
}

.messages_message_description_wrapper {
  position: relative;
  width: 70%;
  min-height: 1rem;
  overflow: hidden;
  margin: 0 1rem;
}

.messages_message_description {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  color: var(--gray);
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* transform: translateY(1px); */
}

.messages_message_description_mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2rem;
  background: linear-gradient(to right, transparent, var(--light));
}

.messages_message:hover .messages_message_description_mask {
  background: linear-gradient(to right, transparent, #eee);
}

.messages_message time {
  font-size: 0.8rem;
  color: var(--gray);
  white-space: nowrap;
}

.messages_message_avatar {
  font-weight: 700;
  font-size: 0.9rem;
  width: 10rem;
}
