@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.bg_circle {
  position: absolute;
  z-index: -1;
  top: -50rem;
  right: -50rem;
  border-radius: 50%;
  background: linear-gradient(to right top, var(--yellow-green), var(--blue-green) 50%);
  opacity: 0.8;
  width: 100rem;
  height: 100rem;
  pointer-events: none;
  box-shadow: inset 12px -10px 20px -10px rgba(0, 0, 0, 0.45);
}

.bg_illustration {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url(./landing.svg);
  background-repeat: no-repeat;
  background-position: 60% 2rem;
  background-size: contain;
  pointer-events: none;
  animation: slideInRight 1.2s ease-out;
}

.bg_square {
  position: absolute;
  z-index: -1;
  bottom: -5rem;
  left: -5rem;
  height: 16rem;
  width: 16rem;
  border-radius: 2rem;
  background-color: rgba(211, 237, 254, 0.61);
  transform-origin: center center;
  transform: rotate(20deg);
}

@keyframes slideInRight {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

.landing > nav {
  height: 5rem;
}

.logo {
  display: inline-block;
  height: 100%;
  width: 10rem;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 10rem;
  margin-right: auto;
}

.nav_link {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 3rem;
}

.nav_link:last-child {
  margin-right: 1rem;
}

.nav_link:hover {
  color: rgb(238, 22, 150);
}

.content {
  max-width: 45%;
  padding-left: 0.45rem;
  transform: translateY(-4rem);
}

.content > *:nth-child(1) {
  animation-delay: 0s;
}

.content > *:nth-child(2) {
  animation-delay: 100ms;
}

.content > *:nth-child(3) {
  animation-delay: 200ms;
}

.content > h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
}

.content > p {
  font-family: "Montserrat", sans-serif;
  color: #aaa;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 1.5rem;
}

.content > button {
  margin-top: 2rem;
  border: 0;
  border-radius: 50rem;
  padding: 0.8rem 1.5rem;
  box-shadow: 0 10px 30px rgba(119, 238, 22, 0.432);
  background: linear-gradient(to right top, var(--yellow-green), var(--blue-green));
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.content > button:hover {
  opacity: 0.8;
}
