.menu {
  position: absolute;
  z-index: 500;
  top: 50%;
  right: 50%;
  min-width: 6rem;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: white;
  animation-duration: 200ms;
  overflow: hidden;
}

.item {
  display: block;
  width: 100%;
  padding: 0.1rem;
  text-align: left;
  color: var(--gray);
  font-size: 13px;
  line-height: 1.5;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0;
}

.menu > .item:last-child {
  border-bottom: 0;
}

.item:hover {
  background-color: #f9f9f9;
}
