.setting_btn {
  position: relative;
  color: inherit;
  border: 0;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 400ms ease-in-out;
}
