.success {
  --message-box-color: rgb(135, 201, 129);
}

.error {
  --message-box-color: rgb(236, 88, 112);
}

.info {
  --message-box-color: rgb(47, 135, 235);
}

.message {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #eee;
  border-left: 5px solid var(--message-box-color);
  background-color: white;
  margin-bottom: 1rem;
}

.icon_container {
  color: white;
  background-color: var(--message-box-color);
  flex-shrink: 0;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

.content_container {
  margin: 0.5rem 1rem 0.5rem 0;
  width: 100%;
}

.content_container p {
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.title {
  font-weight: 700;
}

.close_btn {
  width: 1.5rem;
  border: 0;
  background-color: transparent;
  color: #ccc;
  margin-left: auto;
}

.content {
  font-size: 13px;
  color: #aaa;
  line-height: 1.5;
  text-overflow: ellipsis;
}
