.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border: 2px solid var(--gray);
  color: var(--green);
  border-radius: 20%;
  cursor: pointer;
}
