.box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;

  scrollbar-color: rgb(200, 228, 164) transparent;
  scrollbar-width: thin;
}

.box::-webkit-scrollbar {
  width: 7px;
}

.box::-webkit-scrollbar-thumb {
  background-color: rgb(200, 228, 164);
  border-radius: 10px;
}

.content_container {
  position: absolute;
  display: flex;
}

.vertical {
  flex-direction: column;
  height: auto;
  width: 100%;
}

.vertical > *:last-child {
  margin-bottom: 1rem !important;
}

.horizontal {
  align-items: center;
  padding-left: 1rem;
  width: auto;
  height: 100%;
}

.horizontal > *:last-child {
  margin-right: 1rem !important;
}
