.box {
  width: 100%;
  height: 100%;
  position: relative;
}

.content_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  scrollbar-color: rgb(200, 228, 164) transparent;
  scrollbar-width: thin;
}

.content_container::-webkit-scrollbar {
  width: 7px;
}

.content_container::-webkit-scrollbar-thumb {
  background-color: rgb(200, 228, 164);
  border-radius: 10px;
}

.vertical {
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}

.vertical > *:last-child {
  margin-bottom: 1rem !important;
}

.horizontal {
  overflow-y: hidden;
  overflow-x: auto;

  align-items: center;
  padding-left: 1rem;
}

.horizontal > *:last-child {
  margin-right: 1rem !important;
}
