.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info > a {
  text-decoration: none;
}

.avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  color: #253858;
  margin-bottom: 0.5rem;
  transform: translateX(4px);
}

.name button {
  transform: translateY(3.5px);
}

.email {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
