.dialog {
  max-width: none;
  width: 50rem;
}

.body {
  display: flex;
  justify-content: space-between;
  height: 30rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.comment_area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2rem;
}

.scroll_area {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.card_info {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
}

.info_field {
  margin-bottom: 1rem;
}

.info_field:first-child {
  margin-top: 1rem;
}

.info_field > p:first-child {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.info_field > p:nth-child(2) {
  font-size: 13px;
  color: var(--gray);
  line-height: 1.5;
  margin-bottom: 0;
}

.description {
  white-space: pre-wrap;
}

.card_create_time {
  margin-top: auto;
  margin-bottom: calc(1rem + 2px);
  padding-top: 1rem;
}

.card_create_time > time {
  font-style: italic;
  font-weight: 700;
}
