.card_col {
  border-radius: 10px;
  width: 16rem;
  height: 100%;
  margin-right: 0.5rem;
  padding: 0.5rem;

  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.add_card_btn {
  border: 1px solid #ddd;
  background-color: transparent;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbb;
  border-radius: 6px;
  width: 100%;
  font-size: 13px;
  margin-bottom: 1rem;
  transition: all 300ms;
}

.add_card_btn > svg {
  height: 100%;
}

.add_card_btn > span {
  margin-left: 0.5rem;
  margin-bottom: 2px;
}

.add_card_btn:hover {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--blue);
}

.cards_container {
  box-sizing: content-box;
  align-self: center;
}

.droppable,
.selected {
  border-width: 2px;
  border-style: dashed;
  border-radius: 6px;
  transform: translateY(-2px);
}

.droppable::before {
  content: "";

  background-image: url(./here.svg);
  background-repeat: no-repeat;
  background-size: 50px 50px;

  width: 50px;
  height: 50px;

  position: absolute;
  z-index: 100;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.selected::after,
.droppable::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.droppable {
  border-color: var(--blue);
  position: relative;
}

.droppable::after {
  background-color: var(--blue);
}

.selected {
  border-color: var(--green);
}

.selected::after {
  background-color: var(--green);
}
