.priority {
  display: flex;
  align-items: center;
  color: var(--gray);
}

.priority_test::first-letter {
  text-transform: capitalize;
}

.high {
  color: rgb(207, 0, 0);
}

.medium {
  color: rgb(235, 124, 36);
}

.low {
  color: rgb(42, 135, 52);
}

.lowest {
  color: rgb(84, 165, 86);
}
