.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem 1rem 1.5rem;
}

.topbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.topbar > select {
  align-self: flex-end;
}

.topbar > * {
  margin-right: 1rem;
}

.topbar > *:last-child {
  margin-right: 0;
}

.topbar_search {
  margin-left: auto;
}

.card_col_container {
  height: 100%;
  padding-left: 1rem;
  display: flex;
  position: absolute;
}
