* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  color: #253858;
  background-color: #fff;

  overflow-x: hidden;
}

ul {
  list-style: none;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

.trans {
  transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hover_shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.hover_shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
